header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img {

}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}